.city-pic,
.chosenCity {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
  }

.city-pic::before,
.chosenCity::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.city-pic {
    min-height: 10rem;
    font-family: 'Courgette', cursive
}

.city-pic::before { 
    background: rgba(22, 18, 0, 0.199);
}

.chosenCity {
    min-height: 18rem
  }  

.overlay,
.chosenOverlay {
    position: relative;
    background: rgba(255, 255, 255, 0.85)
}

.logo,
.chosenOverlay,
.title {
    font-family: 'Gloria Hallelujah', cursive; 
}

.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: rgb(84, 185, 193);
}

.logo {
    color: rgb(254, 228, 105);
    filter: drop-shadow(8px 8px 4px rgb(84, 185, 193));
}

.control-dots,
.thumbs {
    padding-left: 0;
    margin-bottom: 0
}

.carouselBox {
    overflow: hidden;
    align-items: center;
    background-color: rgba(174, 220, 218, 0.2);
}

.slider {
    max-height: 220px;
}

.loginIcon {
    width: 30px
}

.link:hover {
    font-weight: bold;
    font-size: 25px;
    text-decoration-line: none;
    cursor: pointer;
}

.iconBorder {
    margin: 1rem 0;
    width: 70px;
    height: 70px;
    border: solid 6px rgb(52, 58, 64);
    border-radius: 50%
}

.navIcon:hover {
    color: rgb(254, 228, 105);
}

/* google login */
#customBtn {
    display: inline-block;
    background: white;
    color: #444;
    width: 190px;
    border-radius: 5px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
  }
  #customBtn:hover {
    cursor: pointer;
  }
  span.label {
    font-family: serif;
    font-weight: normal;
  }
  span.icon {
    background: url('/identity/sign-in/g-normal.png') transparent 5px 50% no-repeat;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }
  span.buttonText {
    display: inline-block;
    vertical-align: middle;
    padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
    font-family: 'Roboto', sans-serif;
  }