.city-pic,
.chosenCity {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
  }

.city-pic::before,
.chosenCity::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.city-pic {
    min-height: 10rem;
    font-family: 'Courgette', cursive
}

.city-pic::before { 
    background: rgba(22, 18, 0, 0.199);
}

.chosenCity {
    min-height: 18rem
  }  

.overlay,
.chosenOverlay {
    position: relative;
    background: rgba(255, 255, 255, 0.85)
}

.logo,
.chosenOverlay,
.title {
    font-family: 'Gloria Hallelujah', cursive; 
}

.profilePic {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bg {
    background-color: rgb(84, 185, 193);
}

.logo {
    color: rgb(254, 228, 105);
}

.control-dots,
.thumbs {
    padding-left: 0;
    margin-bottom: 0
}

.carouselBox {
    overflow: hidden;
    align-items: center;
    background-color: rgba(174, 220, 218, 0.2);
}

.slider {
    max-height: 220px;
}

.loginIcon {
    width: 30px
}

.link:hover {
    font-weight: bold;
    font-size: 25px;
    text-decoration-line: none;
    cursor: pointer;
}

.iconBorder {
    margin: 1rem 0;
    width: 70px;
    height: 70px;
    border: solid 6px black;
    border-radius: 50%
}