.city-pic {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    min-height: 10rem
  }  
  
.city-pic::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(253, 216, 146, 0.15);
  }

.overlay {
    position: relative;
    background: rgba(255, 255, 255, 0.75)
}
  
  /* .router-link {
    min-height: 250px;
    position: relative;
  } */
  