.chosenCity {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 0;
    min-height: 18rem
  }  
  
.chosenCity::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }

.chosenOverlay {
    position: relative;
    background: rgba(255, 255, 255, 0.85);
    font-family: 'Gloria Hallelujah', cursive; 
}